node_modules
.DS_Store
dist
dist-ssr
*.local
minecraft/.fabric/
minecraft/assets/
minecraft/cache/
minecraft/config/
minecraft/data/
minecraft/downloads/
minecraft/libraries/
minecraft/logs
minecraft/mods
minecraft/resourcepacks
minecraft/saves
minecraft/shaderpacks
minecraft/options.txt
minecraft/usercache.json
minecraft/realms_persistence.json
java/